/*basic styles*/
html, body{
	width: 100%;
	height:100%;
}
body{
	padding:2%;
	padding-top:0;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
/*section*/

h1{
	text-align: center;
	font-size: 18px;
}
.green-box{
	background-color: #22B573;
	width:100%;
	height:100%;
	padding: 2%
}
.navigation-li{
	display: inline-block;
	margin-right: 40px;
	color: #fff;
}
.nav-a{
	font-size: 48px;
	color: #fff;
	text-transform: uppercase;
	transition: all  0.3s linear 0.3s;
}
.nav-a:hover{
	color: red;
	opacity: 0.7;
}
.logo{
	top: 37px;
	right: 37px;
	width: 876px;
}
.white-box{
	background-color: #fff;
	width: 620px;
	height: 455px;
	bottom: 0px;
	left: 0px;
	transition: all  0.3s linear 0.3s;
}
.white-box:hover{
	background-color: gray;
}
.white-box:hover .box{
	background-color: yellow;
}
.box{
	width: 300px;
	height: 300px;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #006837;
	transition: all  0.3s linear 0.3s;
}
.text{
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
	font-size: 39px;
	color: #FCEE21;
	text-transform: uppercase;
	white-space: nowrap;
	transition: all  0.3s linear 0.3s;
}
.white-box:hover .text{
	color: red;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(0deg);
}
.text-more{
	bottom:0px;
	right: 5px;
	font-size: 14px;
	text-transform: uppercase;
	color: #39B54A;
}
.text-more:hover{
	color: red;
	right: 50px;
}
.text-created{
	bottom: 15px;
	right: 10px;
	font-size: 14px;
	text-transform: uppercase;
	color: #FCEE21;
}